body  #grad {
        height: 500px;
        background-color: blue;/* For browsers that do not support gradients */
        background-image: linear-gradient(to right, #1c87c9, #8ebf42);
      }


h1 {
  color: blue;
}
a.one: link {color: green;}
a.one: visited {color: orange;}
a.one: hover {color: blue;}

a.two: link {color: green;}
a.two: visited {color: orange;}
a.two: hover {color: blue;}
